*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
#slider {
    overflow: hidden;
    height: 100vh;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.logo{
    width: 200px;
    position: absolute;
    top: 0%;
    left: 20;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 300px;
}
.banner-text h1{
    font-size: 70px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(255, 255, 0);
}
.banner-text P{
    font-size: 70px;
    font-style: italic;
    color: #000000;
}
#sideNav{
    width: 250px;
    height: 45vh;
    position: fixed;
    right: -220px;
    top: 0;
    background: #010005;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #f0f0e6;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0) ;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
.text-box{
    color: #fff;
    position: absolute;
    bottom: 10px;
}
.text-box p{
    font-size: 50px;
    font-weight: 160px;
    margin-left: 10px;
}
.text-box h1{
    font-size: 100px;
    line-height: 110px;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(244, 245, 237);
    background: url(images2/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(244, 245, 237);
    background: url(images2/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3px;
}
.text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}

/*--portfolio--*/

#feature{
    width: 100%;
    padding: 70px 0;
    background: #000000;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #030704;
    font-weight: 100;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(235, 15, 15),rgb(245, 19, 19));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: black;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
    color: #050405;
    border: 1px solid #040f0e;

}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif; 
    font-style: normal;
}


/*--service---*/

#service{
    width: 100%;
    padding: 70px 0;
    background:#02051b ;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(233, 10, 10, 0.5),#343533);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
    font-style: italic;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 15px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

/*---gallery----*/

#gallery{
    width: 100%;
    padding: 70px 0;
    background:#02051b ;

}
/*---testimonial----*/

#testimonial{
    position: relative;
    width: 100%;
    padding: 70px 0;
    background: #070c0d;
    overflow: hidden;
}
#testimonial:before{
    position: absolute;
    content: '';
    width: 2000px;
    height: 100%;
    bottom: -70%;
    border-radius: 50%;
    background: #040500;
}
#testimonial .heading{
    display: inline-block;
    position: relative;
    color: #3b7cf5;
    font-size: 4vw;
    padding: 60px;
    width: 100%;
    text-align: center;
    font-weight: 800;
}
#testimonial .heading::before{
    position: absolute;
    content: '';
    width: 15%;
    height: 7px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    background: #393939;
}
#testimonial .heading b{
    color: #fff;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.wrapper .container{
    position: relative;
    width: 350px;
    color: #fff;
    background: #222;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 3px;
    transition: 0.3s ease;
}
.wrapper .container .profile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    width: 100%;
    display: block;
}
.wrapper .container .profile .imgBox{
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 8px solid #070c0d;
    border-radius: 50%;
    overflow: hidden;
}
.wrapper .container .profile .imgBox img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}
.wrapper .container .profile .imgBox:hover img{
    filter: saturate(140%);
    transform: scale(0.95);
}
.wrapper .container .profile h2{
    padding: 5px 0;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}
.wrapper .container p{
    margin-top: 50px;
    color: #fff;
    padding: 0 8px;
    font-size: 15px;
    opacity: 0.8;
}
.wrapper .container .left{
    font-size: 30px;
    display: block;
    text-align: left;
    color: #3b7cf5;
}
.wrapper .container .right{
    font-size: 30px;
    display: block;
    text-align: right;
    color: #3b7cf5;
}
.wrapper .container .social{
    width: 100%;
}
.wrapper .container .social i{
    font-size: 1.2em;
    color: #fff;
    padding: 8px;
    background: rgba(255,255,255,0.08);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.wrapper .container .social i:hover{
    background: aqua;
}





/*--footer--*/

#footer{
    padding: 50px 0 20px;
    background: #02051b;
    position: relative;
}
.title-text p{
    color: aqua;
}
.title-text h1{
    color: aqua;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 40%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
    color: aqua;
}
.footer-row p{
    line-height: 35px;
    color: aqua;

}
.footer-left,.footer-right .fa{
    font-size: 20px;
    color: aqua;
    margin: 10px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid aqua;
    margin: 40px 5px 0;
    color: aqua;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: aqua;
    color: aqua;
    transform: translateY(-7px);

}
.social-links p{
    font-size: 12px;
    margin-top: 20px;
    color: aqua;
}