*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
}
#slider {
    overflow: hidden;
    height: 100vh;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.logo{
    width: 200px;
    position: absolute;
    top: 0%;
    left: 20;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 300px;
}
.banner-text h1{
    font-size: 70px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(255, 255, 0);
}
.banner-text P{
    font-size: 70px;
    font-style: italic;
    color: #000000;
}
#sideNav{
    width: 250px;
    height: 50vh;
    position: fixed;
    right: -220px;
    top: 0;
    background: transparent;
    z-index: 3;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: #006400;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #050505;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
.text-box{
    color: #fff;
    position: absolute;
    bottom: 10px;
}
.text-box p{
    font-size: 50px;
    font-weight: 160px;
    margin-left: 10px;
}
.text-box h1{
    font-size: 100px;
    line-height: 110px;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(244, 245, 237);
    background: url(images2/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(244, 245, 237);
    background: url(images2/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3px;
}
.text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}

/*--portfolio--*/

#feature{
    width: 100%;
    padding: 70px 0;
    background: #fff;
}
#feature .title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #040500;
    font-weight: 100;
    position: relative;
    z-index: 2;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(0, 100, 0),rgb(0, 100, 0));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}
.title-text p::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(29, 107, 29);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: black;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
    color: #050405;
    border: 1px solid #040f0e;

}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
    color: #000000;
    font-family: 'Noto Sans', sans-serif; 
    font-style: normal;
}


/*--service---*/

#service{
    width: 100%;
    padding: 70px 0;
    background: #fff;
}
#service .title-text{
    text-align: center;
    padding-bottom: 70px;
}
#service .title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(0, 100, 0),rgb(0, 100, 0));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}
#service .title-text p::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #006400;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(233, 10, 10, 0.5),#343533);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
    font-style: italic;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 15px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

/*---gallery----*/

#gallery{
    width: 100%;
    padding: 70px 0;
    background: #fff;
}
#gallery .title-text{
    text-align: center;
    padding-bottom: 70px;
}
#gallery .title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(0, 100, 0),rgb(0, 100, 0));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}
#gallery .title-text p::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #006400;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
.h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
.h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(47, 177, 21);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.top-content{
    background-color: #000000;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(36, 3, 43);
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: #FF0000;
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 90px;
}
.pic{
    position: relative;
    height: 400px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #000000;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .photo-gallery .Personal{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check2:checked ~ .container .photo-gallery .Events,
#check2:checked ~ .container .photo-gallery .Commercial{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

#check3:checked ~ .container .photo-gallery .Events{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check3:checked ~ .container .photo-gallery .Personal,
#check3:checked ~ .container .photo-gallery .Commercial{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

#check4:checked ~ .container .photo-gallery .Commercial{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check4:checked ~ .container .photo-gallery .Personal,
#check4:checked ~ .container .photo-gallery .Events{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}
/*---testimonial----*/

#testimonial{
    position: relative;
    width: 100%;
    padding: 70px 0;
    background: #070c0d;
    overflow: hidden;
}
#testimonial .title-text{
    text-align: center;
    padding-bottom: 70px;
}
#testimonial .title-text p{
    color: #fff;
}
#testimonial .title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(235, 15, 15),rgb(247, 10, 10));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}
#testimonial .title-text p::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(238, 20, 20);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
#testimonial:before{
    position: absolute;
    content: '';
    width: 2000px;
    height: 100%;
    bottom: -70%;
    border-radius: 50%;
    background: #030913;
}
#testimonial .heading{
    display: inline-block;
    position: relative;
    color: #3b7cf5;
    font-size: 4vw;
    padding: 60px;
    width: 100%;
    text-align: center;
    font-weight: 800;
}
#testimonial .heading::before{
    position: absolute;
    content: '';
    width: 15%;
    height: 7px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    background: white;
}
#testimonial .heading b{
    color: #fff;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.wrapper .container{
    position: relative;
    width: 350px;
    color: #fff;
    background: #fff;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 3px;
    transition: 0.3s ease;
}
.wrapper .container .profile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    width: 100%;
    display: block;
}
.wrapper .container .profile .imgBox{
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 6px solid #070c0d;
    border-radius: 50%;
    overflow: hidden;
}
.wrapper .container .profile .imgBox img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}
.wrapper .container .profile .imgBox:hover img{
    filter: saturate(140%);
    transform: scale(0.95);
}
.wrapper .container .profile h2{
    padding: 5px 0;
    text-transform: capitalize;
    color: #000000;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
.wrapper .container p{
    margin-top: 50px;
    color: rgb(7, 6, 6);
    padding: 0 8px;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
}
.wrapper .container .left{
    font-size: 30px;
    display: block;
    text-align: left;
    color: #000000;
}
.wrapper .container .right{
    font-size: 30px;
    display: block;
    text-align: right;
    color: #000000;
}
.wrapper .container .social{
    width: 100%;
}
.wrapper .container .social i{
    font-size: 1.2em;
    color: #000000;
    padding: 8px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.wrapper .container .social i:hover{
    background: #3b7cf5;
}
/*--footer--*/

#footer{
    padding: 50px 0 20px;
    background: #070c0d;
    position: absolute;
    width: 100%;
}
#footer .title-text{
    text-align: center;
    padding-bottom: 20px;
}
#footer .title-text p{
    color: #fff;
}
#footer .title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(235, 15, 15),rgb(247, 10, 10));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}
#footer .title-text p::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(238, 20, 20);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.title-text h1{
    color: aqua;
}
.footer-row{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.footer-left,.footer-right{
    flex-basis: 20%;
    padding: 5px;
    margin-bottom: 30px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 5px 0;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.footer-row p{
    font-size: 15px;
    color: #FF0000;

}
.footer-left ,.footer-right .fa{
    font-size: 18px;
    color: #FF0000;
    margin: 10px;
}
.footer-right ,.footer-left .fa{
    font-size: 20px;
    color: #FF0000;
    margin: 10px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #070c0d;
    margin: 5px 5px 0;
    background: #070c0d;
    color:#FF0000;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: none;
    color: #FF0000;
    transform: translateY(-7px);

}
.social-links h1{
    font-size: 12px;
    margin-top: 20px;
    color: #FF0000;
}
.social-links p{
    font-size: 12px;
    margin-top: 20px;
    color: #FF0000;
}